<footer id="footer">
  {{ range $section := .Site.Params.footer.section }}
    <section>
      {{ if eq $section.type "content" }}
        <h2>{{ $section.title }}</h2>
        <p>{{ $section.description | markdownify }}</p>
        <ul class="actions">
          {{range $button := $section.action }}
            <li>
              <a href="{{ $button.href }}" class="button {{ $button.customClass }}">{{ $button.buttontext }}</a>
            </li>
          {{ end }}
        </ul>
      {{ else if eq $section.type "contact" }}
        <h2>{{ $section.second_title }}</h2>
        {{ range $contact := $section.contact}}
          <dl class="alt">
            {{ with $contact.email }}
              <dt>Email</dt>
              <dd><a href="mailto:{{ . }}">{{ . | markdownify }}</a></dd>
            {{ end }}
            {{ with $contact.phone }}
              <dt>Phone</dt>
              <dd>{{ . | markdownify }}</dd>
            {{ end }}
            {{ with $contact.address }}
              <dt>Address</dt>
              <dd>{{ . | markdownify }}</dd>
            {{ end }}
          </dl>
        {{ end }}
        {{ if $section.social_list.enable }}
          <ul class="icons">
            {{ range $section.social }}
              <li><a href="{{ .link }}" class="icon alt {{ .icon }}"><span class="label">{{ .title }}</span></a></li>
            {{ end }}
          </ul>
        {{ end }}
      {{ end }}
    </section>
  {{ end }}
  
  {{ if .Site.Params.footer.copyright.enable }}
    <p class="copyright">{{.Site.Params.footer.copyright.text | markdownify }}.</p>      
  {{ end }}

</footer>
