{{ $list := .Site.Params.section }}
{{ range $index, $section := $list }}
  <section id="{{$section.id}}" class="main special">
    <header class="major">
      <h2>{{ $section.title }}</h2>
      <p>{{ $section.description | markdownify }}</p>
    </header>
    
    <!-- section features -->
    {{ if $section.features.enable }}
      <ul class="features">
        {{ range $count, $feature := $section.feature }}
        <li>
          <span class="icon major style{{ add $count 1 }} {{ $feature.icon }}"></span>
          <h3>{{ $feature.title }} </h3>
          <p>{{ $feature.description | markdownify }}</p>
          {{ if $feature.bullets.enable }}
            <div class="separator"></div>
            <ul class="dashed">
              {{ range $content := $feature.bullets.content }}
                <li>{{ $content | markdownify }}</li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
        {{end}}
      </ul>
    {{ end }}

    <!-- section statistics -->
    {{ if $section.statistics.enable }}
      <ul class="statistics">
        {{ range $count, $stat := $section.statistic }}
          <li class="style{{add $count 1}}">
            <span class="icon {{ $stat.icon }} "></span>
            <strong>{{ $stat.value }}</strong> {{ $stat.text }}
          </li>
        {{ end }}
      </ul>
    {{ end }}

    <!-- section content -->
    {{ if $section.content.enable }}
      <p class="content">{{ $section.content.text }}</p>
    {{ end }}

    <!-- section splitContent -->
    {{ if $section.splitcontents.enable }}
      <div class="row">
        {{ range $content := $section.splitcontent}}
          <div class="6u 12u$(medium)">
            <h3>{{ $content.title }}</h3>
            {{ if $content.bullets.enable }}
              <ul class="dashed align-left">
                {{ range $bcontent := $content.bullets.content}}
                  <li>{{ $bcontent | markdownify }}</li>
                {{ end }}
              </ul>
            {{ end }}
          </div>
        {{ end }}
      </div>
    {{ end }}
    
    <!-- section footer/cta -->
    {{ if $section.footer.enable }}
      <footer class="major">
        <ul class="actions">
          {{range $button := $section.footer.action }}
            <li>
              <a href="{{ $button.buttonUrl }}" class="button {{ $button.customClass }}">{{ $button.buttontext }}</a>
            </li>
          {{ end }}
        </ul>
      </footer>
    {{end}}
  </section>
{{ end }}